geolocalizacion GoogleMap.json
{
    "name": "DEMO_6: Coordenadas geolocalizacion GoogleMaps",
    "flow": [
        {
            "id": 2,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 539975
            },
            "mapper": {
                "limit": "4",
                "filter": [
                    [
                        {
                            "a": "B",
                            "o": "exist"
                        }
                    ]
                ],
                "orderBy": "__ROW_NUMBER__",
                "sheetId": "DICCIONARIO_LOCAL-Grid view",
                "fieldType": "number",
                "sortOrder": "asc",
                "spreadsheetId": "1VDIFQ-X0tyK6sNu9hipmh4gfYCFrMtAom07fNisHMi0",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "orderBy": {
                            "mode": "chose",
                            "label": "Row number"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "DICCIONARIO_LOCAL-Grid view"
                        },
                        "fieldType": {
                            "mode": "chose",
                            "label": "Number"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "DICCIONARIO_LOCAL-Grid view"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Miquel Google-Drive (miquel@nemeda.io)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2.8.7/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "fieldType",
                        "type": "select",
                        "label": "Field Type",
                        "validate": {
                            "enum": [
                                "string",
                                "number",
                                "date"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "num (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "MUNICIPIO (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "PROVINCIA (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "COMUNIDAD AUTONOMA (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "LONGITUD (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "LATITUD (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "UTM (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "URL (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "FORMATED ADDRESS (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 1,
            "module": "google-maps:convertAnAddressIntoGeocode",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 539976
            },
            "mapper": {
                "select": "address",
                "address": "{{2.`1`}},{{2.`2`}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Address"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-maps"
                            },
                            "label": "Miquel Google-Maps"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-maps",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Input Format Of Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "address",
                                "geo"
                            ]
                        }
                    },
                    {
                        "name": "address",
                        "type": "text",
                        "label": "Address",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 8,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": 600,
                            "y": 300
                        }
                    }
                }
            ]
        },
        {
            "id": 12,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 540004
            },
            "mapper": {
                "base": "appVEXs5DbqVemMQW",
                "table": "GEOLOCALIZA",
                "record": {
                    "fld0i5lkqBm08nw6V": "{{1.urlMap}}",
                    "fld9jdSIC7JIVAufG": [
                        {}
                    ],
                    "fldFtgISM9OqGW8qM": "{{2.`2`}}",
                    "fldO3kmo5UDqSrFd9": "{{2.`3`}}",
                    "flde7k0j8YyoL9iHy": "{{1.formatted_address}}",
                    "fldr5e0KoWeQKd5lO": "{{2.`1`}}",
                    "fldre9UEJ4M12kAKv": "{{1.geometry.location.lng}}",
                    "fldtqGyvlqxInmS8t": "{{1.geometry.location.lat}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "TESTs"
                        },
                        "table": {
                            "label": "GEOLOCALIZA",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldr5e0KoWeQKd5lO",
                                            "type": "text",
                                            "label": "MUNICIPIO"
                                        },
                                        {
                                            "name": "fldFtgISM9OqGW8qM",
                                            "type": "text",
                                            "label": "PROVINCIA"
                                        },
                                        {
                                            "name": "fldO3kmo5UDqSrFd9",
                                            "type": "text",
                                            "label": "COMUNIDAD AUTONOMA"
                                        },
                                        {
                                            "name": "flde7k0j8YyoL9iHy",
                                            "type": "text",
                                            "label": "DIRECCION"
                                        },
                                        {
                                            "name": "fldre9UEJ4M12kAKv",
                                            "type": "text",
                                            "label": "LONGITUD"
                                        },
                                        {
                                            "name": "fldtqGyvlqxInmS8t",
                                            "type": "text",
                                            "label": "LATITUD"
                                        },
                                        {
                                            "name": "fld0i5lkqBm08nw6V",
                                            "type": "url",
                                            "label": "MAPA GOOGLE"
                                        },
                                        {
                                            "name": "fld9jdSIC7JIVAufG",
                                            "spec": [
                                                {
                                                    "help": "Airtable will download the file at the given url and keep its own copy of it.",
                                                    "name": "url",
                                                    "type": "text",
                                                    "label": "File URL"
                                                },
                                                {
                                                    "help": "If empty, Airtable will generate the name automatically.",
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name"
                                                }
                                            ],
                                            "type": "array",
                                            "label": "FOTO",
                                            "editable": true
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "record": {
                            "nested": {
                                "fld9jdSIC7JIVAufG": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "Nemeda Airtable"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldr5e0KoWeQKd5lO",
                                "type": "text",
                                "label": "MUNICIPIO"
                            },
                            {
                                "name": "fldFtgISM9OqGW8qM",
                                "type": "text",
                                "label": "PROVINCIA"
                            },
                            {
                                "name": "fldO3kmo5UDqSrFd9",
                                "type": "text",
                                "label": "COMUNIDAD AUTONOMA"
                            },
                            {
                                "name": "flde7k0j8YyoL9iHy",
                                "type": "text",
                                "label": "DIRECCION"
                            },
                            {
                                "name": "fldre9UEJ4M12kAKv",
                                "type": "text",
                                "label": "LONGITUD"
                            },
                            {
                                "name": "fldtqGyvlqxInmS8t",
                                "type": "text",
                                "label": "LATITUD"
                            },
                            {
                                "name": "fld0i5lkqBm08nw6V",
                                "type": "url",
                                "label": "MAPA GOOGLE"
                            },
                            {
                                "name": "fld9jdSIC7JIVAufG",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "FOTO"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "MUNICIPIO",
                        "type": "text",
                        "label": "MUNICIPIO"
                    },
                    {
                        "name": "PROVINCIA",
                        "type": "text",
                        "label": "PROVINCIA"
                    },
                    {
                        "name": "COMUNIDAD AUTONOMA",
                        "type": "text",
                        "label": "COMUNIDAD AUTONOMA"
                    },
                    {
                        "name": "DIRECCION",
                        "type": "text",
                        "label": "DIRECCION"
                    },
                    {
                        "name": "LONGITUD",
                        "type": "text",
                        "label": "LONGITUD"
                    },
                    {
                        "name": "LATITUD",
                        "type": "text",
                        "label": "LATITUD"
                    },
                    {
                        "name": "MAPA GOOGLE",
                        "type": "url",
                        "label": "MAPA GOOGLE"
                    },
                    {
                        "name": "FOTO",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "FOTO"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}